@import url('https://fonts.googleapis.com/css2?family=BBH+Bartle&family=Nothing+You+Could+Do&family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');

html, body {
  margin: 0;
  padding: 0;
  font-family: "BBH Bartle", sans-serif;
  font-weight: 400;
  font-style: normal;;
}
canvas {
  display: block;
}
